* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: whitesmoke;
}
body {
  text-align: center;
  background-color: #2f2fa2;
}
h3 {
  background-color: #f64c72;
}
.row {
  height: auto;
}
.col {
  border: solid 1px whitesmoke;
  padding: 0;
}

.clock,
.timer {
  font-size: 400%;
}
.date {
  font-size: 40px;
}
.btn {
  margin: 10px;
}
.todo-list {
  max-height: 230px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.delete-todo {
  margin: 0;
  padding: 0;
}
.todo {
  height: 435px;
}
.item-todo {
  margin: 0;
  color: black;
  text-align: left;
}
.list-group-item {
  display: flex;
}
