@import url("https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap");
* {
  box-sizing: border-box;
  font-family: "Odibee Sans", cursive;
}
body {
  background-color: greenyellow;
  font-size: 125%;
}
section {
  text-align: center;
}
.game--container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 300px;
  margin: auto;
}
.cell {
  font-family: "Permanent Marker", cursive;
  width: 100px;
  height: 100px;
  box-shadow: 0 0 0 1px #333333;
  border: 1px solid #333333;
  cursor: pointer;
  line-height: 100px;
  font-size: 60px;
}
button {
  width: 200px;
  height: 70px;
  font-size: x-large;
}
.winner--x {
  background-color: rgb(91, 240, 116);
}
.winner--o {
  background-color: rgb(250, 161, 142);
}
.score {
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-size: 110%;
}
